{% extends "photofile/base.html" %}


{% block title %}{% endblock title %}
<style>
.uploaded-images {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.uploaded-image {
    margin-left: 20px;
    border-radius: 10px;
    /* Optional: Add a shadow for a better visual appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
</style>


{% block body %}
<h1>we  keep your slice of memories safe here! </h1>
<div class="form">
<form action="" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <h2>upload your photos here</h2>
    {{form}}

    
    <button type="submit" class='btn'>upload</button>
</form>
<a href={% url "logout" %}> Logout</a>
</div>
    <h2>Uploaded Images</h2>
<div class="uploaded-images">
    {% if images %}
     {% for image in images %}
        <div class="image-container">
            <img src="{{ image.images.url }}" alt="Uploaded Image" width="200px">
            <p>Uploaded at: {{ image.date }}</p>
        </div>
     {%endfor%}
    {% else %} 
        <p>No images uploaded yet.</p>
    {% endif %}
   
   
</div>

   
    






{% endblock body %}